@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İstatistikler</h4>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats card-warning">
					<a href="/Experience/ExperienceList" style="text-decoration:none">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="la la-star-half-full"></i>
									</div>
								</div>
								<div class="col-7 d-flex align-items-center">
									<div class="numbers">
										<p class="card-category">Yetenekler</p>
										<h4 class="card-title">@ViewBag.v1</h4>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<a href="/Message/Inbox" style="text-decoration:none">
					<div class="card card-stats card-success">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="la la-comments-o"></i>
									</div>
								</div>
								<div class="col-7 d-flex align-items-center">
									<div class="numbers">
										<p class="card-category">Mesajlar</p>
										<h4 class="card-title">@ViewBag.v2</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="/Message/Inbox" style="text-decoration:none">
					<div class="card card-stats card-danger">
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="la la-envelope-o"></i>
									</div>
								</div>
								<div class="col-7 d-flex align-items-center">
									<div class="numbers">
										<p class="card-category">Okunmayan Mesajlar</p>
										<h4 class="card-title">@ViewBag.v3</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="/Message/Inbox" style="text-decoration:none">
					<div class="card card-stats card-primary">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="la la-folder-open-o"></i>
									</div>
								</div>
								<div class="col-7 d-flex align-items-center">
									<div class="numbers">
										<p class="card-category">Okunan Mesajlar</p>
										<h4 class="card-title">@ViewBag.v4</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-3">
				<a href="/Experience/ExperienceList" style="text-decoration:none">
					<div class="card card-stats card-warning">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="la la-spinner"></i>
									</div>
								</div>
								<div class="col-7 d-flex align-items-center">
									<div class="numbers">
										<p class="card-category">Yetenek Ortalaması</p>
										<h4 class="card-title">@ViewBag.v7</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="/Experience/ExperienceList" style="text-decoration:none">
					<div class="card card-stats card-success">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="la la-briefcase"></i>
									</div>
								</div>
								<div class="col-7 d-flex align-items-center">
									<div class="numbers">
										<p class="card-category">Deneyimler</p>
										<h4 class="card-title">@ViewBag.v5</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="/Experience/ExperienceList" style="text-decoration:none">
					<div class="card card-stats card-danger">
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="la la-tasks"></i>
									</div>
								</div>
								<div class="col-7 d-flex align-items-center">
									<div class="numbers">
										<p class="card-category">Projeler</p>
										<h4 class="card-title">@ViewBag.v6</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="/Experience/ExperienceList" style="text-decoration:none">
					<div class="card card-stats card-primary">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="la la-at"></i>
									</div>
								</div>
								<div class="col-7 d-flex align-items-center">
									<div class="numbers">
										<p class="card-category">Sosyal Medya Hesapları</p>
										<h4 class="card-title">@ViewBag.v8</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<br />
	</div>
</div>